header {
    text-align: center;
}

.headline {
    text-align: center;
}

.map {
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    text-align: center;
}

h3 {
    text-align: center;
}

.results_container {
    margin: 0 auto;
    width: 900px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.result {
    width: 800px;
    text-align: left;
}

.azure {
    background-color: rgb(199, 235, 235);
}