[mysqld]
character-set-server = utf8mb4
collation-server = utf8mb4_bin
local_infile = 1


# Timezone
default-time-zone = SYSTEM
log_timestamps = SYSTEM

# authentication plugin  - if you use the old auth-plugin, activate the following line
# default-authentication-plugin = mysql_native_password

# Logs
log-error = /var/log/mysql/mysql-error.log

# slow query logs
slow_query_log = 1
slow_query_log_file = /var/log/mysql/mysql-slow.log
long_query_time = 5.0
log_queries_not_using_indexes = 0

# general logs
general_log = 1
general_log_file = /var/log/mysql/mysql-query.log

# options
[mysql]
# char codes
default-character-set = utf8mb4
local_infile=1


[client]
# char codes
default-character-set = utf8mb4
loose-local-infile = 1
